{% extends 'base.html.twig' %}

{% block title %}{{ 'label.login'|trans({'default': 'Login'}) }}!{% endblock %}

{% block body %}
    <section>
        <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
            <div class="w-full bg-white rounded-lg shadow-lg md:mt-0 sm:max-w-md xl:p-0">
                <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                    <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl ">
                        Login to your account
                    </h1>
                    <form class="space-y-4 md:space-y-6" action="{{ path('app_login') }}" method="post">
                        <div>
                            <label for="username" class="font-thin block mb-2 text-gray-900 ">
                                Email
                            </label>
                            <input type="email" name="email" id="email"
                                   class="border border-gray-300 text-gray-900 rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                                   placeholder="name@company.com" required="">
                        </div>
                        <div>
                            <label for="password"
                                   class="block mb-2 font-thin text-gray-900 ">
                                Password
                            </label>
                            <input type="password" name="password" id="password" placeholder="••••••••"
                                   class="border border-gray-300 text-gray-900 rounded focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 "
                                   required="">
                        </div>
                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}"
                        >
                        <button type="submit"
                                class="w-full text-white bg-blue-600 hover:bg-blue-400 rounded-lg px-5 py-2.5 text-center">
                            Sign in
                        </button>
                        <p class="font-light text-gray-400">
                            Don’t have an account yet
                            <a href=""
                               class="font-medium hover:underline text-primary-500">
                                Sign Up
                            </a>
                        </p>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}


