{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<h1 class="">Recipe finder</h1>
    {% for item in foodGroups %}
       <p>{{ item.name }}</p>
    {% endfor %}
{% endblock %}
