{% extends 'base-landing.html.twig' %}

{% block title %}Find a recipe{% endblock %}

{% block body %}

    <div class="relative h-screen">
        <img class="w-full h-full object-cover" src="{{ asset('images/bg-landing.jpg') }}" alt="">
        <div data-controller="position">

            <div id="mealType" class="">
                <div class="absolute inset-0 flex items-center justify-center">
                    <twig:Title class="bg-gray-200 bg-opacity-70 rounded-xl px-4 py-2"
                                label="What meal are you looking for?"/>
                </div>

                <div class="absolute inset-0 flex flex-wrap items-center justify-center gap-3 h-fit w-fit top-[55%] mx-auto">
                    <a class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 hover:bg-opacity-80 bg-opacity-70 inset-0 flex top-10 z-10 cursor-pointer whitespace-nowrap"
                       data-position="breakfast"
                       data-position-target="mealType">
                        <h2 class="text-xl xl:text-3xl">&#129386; Breakfast &#129472; </h2>
                    </a>

                    <a data-position="lunch"
                       data-position-target="mealType"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer whitespace-nowrap">
                        <h2 class="text-xl xl:text-3xl">&#127833; Lunch &#127832;</h2>
                    </a>

                    <a data-position="dinner"
                       data-position-target="mealType"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer whitespace-nowrap">
                        <h2 class="text-xl xl:text-3xl">&#127791; Dinner &#127829;</h2>
                    </a>

                    <a data-position="dessert"
                       data-position-target="mealType"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer whitespace-nowrap">
                        <h2 class="text-xl xl:text-3xl"> &#127846; Dessert &#127856;</h2>
                    </a>
                </div>
            </div>

            <div id="desire" class="hidden">
                <div class="absolute inset-0 flex items-center justify-center z-10 ">
                    <twig:Title class="bg-gray-200 bg-opacity-70 rounded-xl px-4 py-2"
                                label="What’s your craving today?"/>
                </div>

                <div class="absolute inset-0 flex flex-wrap items-center justify-center gap-3 h-fit w-fit top-[55%] mx-auto">
                    <a class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 hover:bg-opacity-80 bg-opacity-70 inset-0 flex top-10 z-10 cursor-pointer"
                       data-position="Pasta"
                       data-position-target="meal">
                        <h2 class="text-xl xl:text-3xl">&#127806; Pasta Party &#127837; </h2>

                    </a>

                    <a data-position="Meat"
                       data-position-target="meal"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#128019; Meaty Madness &#129363;</h2>

                    </a>

                    <a data-position="vegetarian"
                       data-position-target="meal"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#129367; Veggie delight &#129388;</h2>
                    </a>

                    <a data-position="Proteins"
                       data-position-target="meal"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl"> &#128035; Protein power meal &#128170;</h2>
                    </a>

                    <a data-position="Fish and Seafood"
                       data-position-target="meal"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#128032; Fish Fest &#129424;</h2>
                    </a>
                </div>
                <div class="absolute inset-0 flex flex-wrap items-center justify-center gap-3 h-fit w-fit top-[90%] mx-auto">
                    <a data-position="back"
                       data-position-target="meal"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">Back </h2>
                    </a>
                </div>
            </div>
            <div id="country" class="hidden">
                <div class="absolute inset-0 flex items-center justify-center z-10 ">
                    <twig:Title class="bg-gray-200 bg-opacity-70 rounded-xl px-4 py-2"
                                label="Which country is serving up these flavors? "/>
                </div>

                <div class="absolute inset-0 flex flex-wrap items-center justify-center gap-3 h-fit w-fit top-[55%] mx-auto">
                    <a data-position="italian"
                       data-position-target="country"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#127470;&#127481; Italian &#127470;&#127481;</h2>
                    </a>

                    <a data-position="mexican"
                       data-position-target="country"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#127474;&#127485; Mexican &#127474;&#127485;</h2>
                    </a>

                    <a data-position="greek"
                       data-position-target="country"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#127468;&#127479; Greek &#127468;&#127479;</h2>
                    </a>

                    <a data-position="chinese"
                       data-position-target="country"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#127464;&#127475; Chinese &#127464;&#127475;</h2>
                    </a>

                    <a data-position="japanese"
                       data-position-target="country"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#127471;&#127477; Japanese &#127471;&#127477;</h2>
                    </a>

                    <a data-position="french"
                       data-position-target="country"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#127467;&#127479; French &#127467;&#127479;</h2>
                    </a>

                    <a data-position="american"
                       data-position-target="country"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#127482;&#127480; American &#127482;&#127480;</h2>
                    </a>

                    <a data-position="all"
                       data-position-target="country"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#127758; All around the world &#127758;</h2>
                    </a>
                </div>
                <div class="absolute inset-0 flex flex-wrap items-center justify-center gap-3 h-fit w-fit top-[90%] mx-auto">
                    <a data-position="back"
                       data-position-target="country"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">Back </h2>
                    </a>
                </div>
            </div>
            <div id="difficulty" class="hidden">
                <div class="absolute inset-0 flex items-center justify-center z-10 ">
                    <twig:Title class="bg-gray-200 bg-opacity-70 rounded-xl px-4 py-2"
                                label="How much time do we have to cook?"/>
                </div>
                <div class="absolute inset-0 flex flex-wrap items-center justify-center gap-3 h-fit w-fit top-[55%] mx-auto">
                    <a data-position="easy"
                       data-position-target="difficulty"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#128336; 15 minutes or less &#128336;</h2>
                    </a>

                    <a data-position="normal"
                       data-position-target="difficulty"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#128352; Half an hour &#128352;</h2>
                    </a>

                    <a data-position="hard"
                       data-position-target="difficulty"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">&#128357; 45 minutes or more &#128357;</h2>
                    </a>
                </div>
                <div class="absolute inset-0 flex flex-wrap items-center justify-center gap-3 h-fit w-fit top-[90%] mx-auto">
                    <a data-position="back"
                       data-position-target="difficulty"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">Back </h2>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
