{% extends 'base-landing.html.twig' %}

{% block title %}Find a recipe{% endblock %}

{% block body %}
    <div class="relative h-screen">
        {# bg-image #}
        <img class="w-full h-full object-cover" src="{{ asset('images/bg-landing.jpg') }}" alt="">

        <div data-controller="position">

            {# Question 1: Mealtype #}
            <div id="mealType" class="">
                <twig:Question
                        label="What meal are you looking for?">

                    <twig:Question:Answer
                            dataPosition="breakfast"
                            dataTarget="mealType">
                        &#129386; Breakfast &#129472;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataPosition="brunch"
                            dataTarget="mealType">
                        &#127849; Brunch &#129374;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataPosition="lunch"
                            dataTarget="mealType">
                        &#127833; Lunch &#127832;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataPosition="dinner"
                            dataTarget="mealType">
                        &#127791; Dinner &#127829;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataPosition="dessert"
                            dataTarget="mealType">
                        &#127846; Dessert &#127856;
                    </twig:Question:Answer>

                </twig:Question>
            </div>

            {# Question 2: Meal #}
            <div id="desire" class="hidden">
                <twig:Question
                        label="What’s your craving today?">

                    <twig:Question:Answer
                            dataTarget="meal"
                            dataPosition="Pasta">
                        &#127806; Pasta Party &#127837;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="meal"
                            dataPosition="Meat">
                        &#128019; Meaty Madness &#129363;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="meal"
                            dataPosition="vegetarian">
                        &#129367; Veggie delight &#129388;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="meal"
                            dataPosition="Proteins">
                        &#128035; Protein power meal &#128170;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="meal"
                            dataPosition="Fish and Seafood">
                        &#128032; Fish Fest &#129424;
                    </twig:Question:Answer>

                </twig:Question>
                <div class="absolute inset-0 flex flex-wrap items-center justify-center gap-3 h-fit w-fit top-[90%] mx-auto">
                    <a data-position="back"
                       data-position-target="meal"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">Back </h2>
                    </a>
                </div>
            </div>

            {# Question 3: Coutry #}
            <div id="country" class="hidden">
                <twig:Question
                        label="Which country is serving up these flavors?">

                    <twig:Question:Answer
                            dataTarget="country"
                            dataPosition="italian">
                        &#127470;&#127481; Italian &#127470;&#127481;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="country"
                            dataPosition="mexican">
                        &#127474;&#127485; Mexican &#127474;&#127485;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="country"
                            dataPosition="greek">
                        &#127468;&#127479; Greek &#127468;&#127479;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="country"
                            dataPosition="chinese">
                        &#127464;&#127475; Chinese &#127464;&#127475;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="country"
                            dataPosition="japanese">
                        &#127471;&#127477; Japanese &#127471;&#127477;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="country"
                            dataPosition="french">
                        &#127467;&#127479; French &#127467;&#127479;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="country"
                            dataPosition="american">
                        &#127482;&#127480; American &#127482;&#127480;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="country"
                            dataPosition="all">
                        &#127758; All around the world &#127758;
                    </twig:Question:Answer>

                </twig:Question>

                <div class="absolute inset-0 flex flex-wrap items-center justify-center gap-3 h-fit w-fit top-[90%] mx-auto">
                    <a data-position="back"
                       data-position-target="country"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">Back </h2>
                    </a>
                </div>
            </div>

            {# Question 4: Time #}
            <div id="difficulty" class="hidden">
                <twig:Question
                        label="How much time do we have to cook?">

                    <twig:Question:Answer
                            dataTarget="difficulty"
                            dataPosition="easy">
                        &#128336; 15 minutes or less &#128336;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="difficulty"
                            dataPosition="normal">
                        &#128352; Half an hour &#128352;
                    </twig:Question:Answer>

                    <twig:Question:Answer
                            dataTarget="difficulty"
                            dataPosition="easy">
                        &#128336; 15 minutes or less &#128336;
                    </twig:Question:Answer>

                </twig:Question>
                <a data-position="hard"
                   data-position-target="difficulty"
                   class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer animate-bounce">
                    &#128357; 45 minutes or more &#128357;
                </a>

                <div class="absolute inset-0 flex flex-wrap items-center justify-center gap-3 h-fit w-fit top-[90%] mx-auto">
                    <a data-position="back"
                       data-position-target="difficulty"
                       class="rounded-xl w-fit h-fit px-4 py-2 border bg-gray-200 bg-opacity-70 hover:bg-opacity-80 inset-0 flex top-10
                            z-10 cursor-pointer">
                        <h2 class="text-xl xl:text-3xl">Back </h2>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
