@import './overwrites/tom-select.css';
@import './overwrites/quill.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.optgroup-header {
    display: none;
}

.recipe h1 {
    padding-top: 20px;
    padding-bottom: 20px;
    color: red;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    width: fit-content;
    background-color: white;
    padding-right: 10px;
}

.cta {
    font-family: 'Playwrite-AU+SA', serif;
    font-weight: 100;
}

.recipe h2 {
    padding-top: 20px;
    color: red;
    font-size: large;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.recipe h3 {
    padding-top: 20px;
    color: red;
    text-transform: uppercase;
    letter-spacing: 0.025em;
}

.recipe p {
    margin-left: 15px;
}

.vich-file a {
    display: none;
}

.recipe ol {
    padding-left: 40px;
    list-style: lower-alpha;
}

.recipe hr {
    width: 100%;
    justify-self: end;
    margin-top: -33px;
    position: absolute;
    z-index: -1;
}


.flash-message {
    opacity: 1;
}

.fade-out {
    opacity: 0;
    transition: opacity 2s ease;
}

.alert {
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.carousel-container {
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    width: fit-content;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    width: fit-content;
}

div[title]:hover:after {
    text-size: 30px
}

html {
    scroll-behavior: smooth;
    font-family: "Lato", serif;
    font-weight: 400;
    font-style: normal;
}

@media (min-width: 1000px) {
    .recipe hr {
        width: 40%;
    }
}