@import './overwrites/tom-select.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

.optgroup-header {
    display: none;
}
ol li{
    margin-left: 30px;
    list-style: upper-roman;
}