<div data-accordion="collapse" class="lg:mt-5">
    <h2>
        <button type="button" class="py-3 flex items-center justify-between w-full text-black"
                data-accordion-target="#{{ id }}" aria-expanded="false">
            <span>{{ label }}</span>
            <span class="w-4">
                {{ ux_icon('plus-solid') }}
            </span>
        </button>
    </h2>
    <div id="{{ id }}" class="hidden">
        <ul>
            {% block content %}{% endblock %}
        </ul>
    </div>
</div>
