<div id="toast-default"
     class="flex items-center w-full max-w-xs p-6 rounded-lg shadow bg-green-200 z-50 fixed right-10 top-28 {% if (type == 'error') %}  bg-red-200 {% endif %} "
     data-controller="flash"
     role="alert">
    <div class="ms-3 text-sm font-normal">{{ message }}</div>
    <button type="button"
            class="ms-auto -mx-1.5 -my-1.5 bg-green-200 {% if (type == 'error') %}  bg-red-200 {% endif %}  rounded-lg p-1.5 inline-flex items-center justify-center h-8 w-8"
            data-dismiss-target="#toast-default" aria-label="Close">
        <span class="sr-only">Close</span>
        <span class="w-4 h-4 hover:text-gray-700">{{ ux_icon('xmark') }}</span>
    </button>
</div>
