<div {{ attributes.defaults({
    class: 'flex flex-row justify-between items-center mb-10'
}) }}>
    <h1 class="text-3xl">{{ label }}</h1>
    <div class="flex space-x-3">
        {% block content %}{% endblock %}
    </div>
</div>
